/* General Setup */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: auto;
    padding: 15px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height:1.5;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    text-align: center;
    color: #142850;
}

h3{
    color:#27496d;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p{
    font-weight:lighter;
}

/* Header and Footer */
header,
footer,
.contact {
    background-color: #eee;
}

header {
    padding: 25px;
    text-align: center;
    margin-bottom: 40px;
}

.header-wrapper {
    margin: auto;
}

.student-name,
.main-nav,
.student-about {
    width: 100%;
}

.main-nav {
    margin: 20px auto 40px;
    width: 100%;
}

.main-nav ul,
.footer-nav ul {
    list-style-type: none;
}

.main-nav ul {
    text-align: center;
}

.main-nav li {
    background-color: #27496d;
    display: block;
    margin: 5px auto; 
}

.main-nav a {
    display: block;
    padding: 10px 25px;
    color: #fff;
    border: 5px solid transparent;
    transition: all 0.3s;
}

.main-nav a:hover {
    text-decoration: none;
    border: 5px solid #00909e;
    background-color:#fff;
    color:#27496d;
}

/* Student About */
.student-about {
    margin: 25px auto;
}

.student-about img {
    width: 100%;
}

.student-about p {
    margin: 20px auto;
}

/* Footer */
footer {
    padding: 10px 20px 25px;
    text-align: center;
}

.footer-nav ul {
    display: none;
}

.footer-wrapper {
    width: 100%;
    padding: 10px;
}

.footer-inline{
    display: inline-block;
}

.footer-inline{
    float:left;
}

.footer-inline:last-of-type{
    float: right;
    text-transform: uppercase;
}

footer a:hover{
    color:#00909e;
}

/* 
    Clearfix for Fixing the Collapsed
    Container Issue Caused by Floats
*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Main Content */

.portfolio h2 {
    margin: 50px auto;
}

.project-info {
    margin: 40px auto;
    text-align: center;
}

.project-info a {
    text-decoration: none;
    font-weight: normal;
    display: block;
    border: 2px solid transparent;
}

.project-info a:hover {
    text-decoration: none;
    border: 2px solid #00909e;
}

.project-image {
    display: block;
    width: 100%;
    height: auto;
}

.project-name {
    margin: 10px;
}

.project-desc {
    margin-bottom: 15px;
}

.project-desc {
    margin-left: 25px;
    margin-right: 25px;
}
/* Contact */
.contact {
    text-align: center;
    margin: 60px auto;
}

.contact h2 {
    margin: 25px auto;
}

.contact p {
    margin: 15px;
}